.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
   padding: auto;   
}

.navbar img {
    border-radius: 20px;
  
}

.nav_tex_img{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 35px;
   

}
.nav_tex_img a{ 
    width: auto;
   
    color: aliceblue;
}
.nav_tex_img { 
    color: rgb(0, 255, 128);
}
.nav_tex_img a:link{ 
    text-decoration: none;
}
.nav_tex_img a:visited{ 
    text-decoration: none;
}


.nav_list ul {
    
border: 1px solid white;
display: flex;
padding: 0;
gap: 5%;
margin: 0;

justify-content: space-around;

}

@media (max-width: 528px){
   
   
    .nav_list ul {
        border: 1px solid red;
        justify-content: space-around;
        width: 95vw;
        margin-top: 15px;
    }
    .nav_tex_img {
      gap: 5%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 4%;
      width: 100%;

    }
    .nav_tex_img div:nth-child(2){
       border: 1px solid white;
       width: 350px;
       display: flex;
       justify-content: center;
       align-items: center;
       padding-right: 10px;
       margin: 0;
       padding: 0;
    }
   
}

.nav_list ul li{
 list-style: none;
 margin: 0;
 padding: 0;
 }
 
 